body
{
  font-family: 'Special Elite', cursive;
  background: burlywood;
}
.header_div
  {
  background: black;
  color: yellow; 
  }
  .header_div img
  {
    width: 100px
  }
  .main_div
  {
    background: orange;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid black;
  }
  .main_div label
  {
    background: skyblue;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px white;
    color: black;    
  }
  #camera , #result
  {
    border: 2px solid yellow;
    width: 310px;
    height: 300px; 
    box-shadow: 5px 5px 18px yellow;    
  }
  .main_div button
  {
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px yellow;
    border: 1px solid;
  }
  .footer_div
  {
    margin-bottom: 50px;
  }

  .footer_div h4
  {
    background: yellow;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px white;    
  }
  .footer_div img
  {
    width: 70px;
  }
  .copy_right_footer {
   position: fixed;
   color: black;
   bottom: 0;
   width: 100%;
   background-color: greenyellow;
   line-height: 3;
   text-align: center;
}